<div class="container">
    <div class="h-title"><h1>User Application Info</h1></div>
  <form action="/action_page.php">
    <label><b>Full Name</b></label>
    <input type="text" value="Ahmed Ali Abdullah">
    <label><b>Location</b></label>
    <input type="text" value="24 Airport Street, Beirut">
    <label><b>Last Job</b></label>
    <input type="text" value="Driver">
    <label><b>Email</b></label>
    <input type="email" value="ahmedali@gmail.com">
    <label><b>Phone Number</b></label>
    <input type="tel" value="+9619854662">
  </form>
</div>
