<div class="container">
    <h1 class="glow" style="margin-top: 50px; margin-bottom: 50px;">
      Honor Wall 
    </h1>
    <div class="h-quotes">
      <p>
        Giving is not just about make donations, it's about <strong>Making difference.</strong><br>
        The dobations you are giving today is the goods that you will receive tomorrow<br>
        Thanks for all heroes 
      </p>
    </div>
    <table>
      <tr>
        <th>Name</th>
        <th>Donations</th>
      </tr>
        <tr *ngFor='let donation of donations'>
          <td>{{ donation.NAME }}</td>
          <td>{{ donation.AMMOUNT }}</td>
        </tr>
        
    </table>
  </div>